{% extends "base.html" %}

{% block styles %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles/main-view-style.css' %}">
{% endblock %}

{% block content %}
<div class="section">
    <h1>Brain Indexer</h1>

    {% if categories|length > 1 %}
        <div class="card double-column">
            <label>
                <span>Check All</span>
                <input id="check-all" type="checkbox"/>
            </label>
            {% for category in categories %}
                <label>
                    <span>{{ category.name }}</span>
                    <input type="checkbox" value={{ category.id }}/>
                </label>
            {% endfor %}
        </div>
    {% else %}
        <div class="card single-column">
            <span>You don't have any card now</span><br>
            <button>Move to create new card!</button>
        </div>
    {% endif %}
</div>

<div class="section">
    <button id="start-btn">Start</button>
</div>
<script>
        const startBtn = document.querySelector('#start-btn')
        startBtn.addEventListener('click', () => {
            console.log('test')
        })

        const checkAllBtn = document.querySelector('#check-all')
        checkAllBtn.addEventListener('change', evt => {
            const checked = evt.currentTarget.checked
            const checkboxes = Array.from(document.querySelectorAll('input[type=checkbox]'))
            
            checkboxes.forEach(checkbox => checkbox.checked = checked)
        })
    </script>
{% endblock %}
